/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbars for Webkit-based browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 0; /* No scrollbar width */
  height: 0; /* No scrollbar height */
  background: transparent; /* Make the background transparent */
}

/* Optional: Further remove any scrollbar background */
*::-webkit-scrollbar-track {
  background: none; /* No background for the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background: none; /* No background for the scrollbar thumb */
}


:root {
    --custom-middle-blue: #1C2d4A;
    --custom-dark-blue: #152238;
    --custom-black: #000000;
    --custom-white: #FFFFFF
}

@font-face {
    font-family: roboto;
    src: url("../../assets/fonts/roboto-regular.ttf");
}

@font-face {
    font-family: roboto-headers;
    src: url("../../assets/fonts/roboto-thin.ttf");
}

@font-face {
    font-family: consolas;
    src: url("../../assets/fonts/consolas.ttf")
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto-headers;
    z-index: 100;
}

* {
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.consolas-text {
    font-family: consolas;
}

textarea {
    resize: none !important; /* Disable resizing */
    background-color: #ffffff !important;
}

.custom-text-small {
    font-size: 11px;
}

.navbar-item-text-size {
    font-size: 11px;
}

.bg-custom-black {
    background-color: var(--custom-black) !important;
}

.bg-custom-middle-blue {
    background-color: var(--custom-middle-blue) !important;
}

.bg-custom-dark-blue {
    background-color: var(--custom-dark-blue) !important;
}

.active-link {
    color: white !important;
}

.container-custom {
    height: 100vh;
    width: 100vw;

    /* set a min height and width */
    min-width: 600px;
    min-height: 550px;
}

.sort-icon {
    font-size: 0.8em; /* Adjust the size as needed */
    margin-left: 5px; /* Adds some space between the header text and the icon */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.see-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none; /* Remove bullet points */
}

li {
    padding-left: 0;
    margin-left: 0;
}
